       /* GLOBAL */
       
       body {
           margin: 0px 0px;
       }
       
       html {
           scroll-behavior: smooth;
       }
       
       .btn-primary {
           background-color: #df2935;
           color: white;
           padding: 10px 25px;
           border-radius: 20px;
           border: none;
           font-size: 15px;
           font-weight: bold;
       }
       
       .btn-primary:hover {
           transition: ease-in-out all .4s;
           -moz-transition: ease-in-out all .4s;
           -webkit-transition: ease-in-out all .4s;
           /* background-color: rgba(238, 148, 20, 0.8); */
           background-color: white;
           color: #df2935;
           border: 1px solid black;
       }
       /* NAVIGATION */
       
       .flex {
           box-sizing: border-box;
           display: flex;
           /* justify-content: flex-end; */
           justify-content: space-around;
           align-items: center;
           position: fixed;
           width: 100%;
           /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
       }
       
       .scrolled {
           border-radius: 0px 0px 20px 20px;
           background-color: #242c3c;
           z-index: 1;
           transition: ease-in-out all .4s;
           -moz-transition: ease-in-out all .4s;
           -webkit-transition: ease-in-out all .4s;
           box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
       }
       
       .scrolled nav ul li a {
           color: #eaeaea;
       }
       /* #logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 75%;
} */
       
       ul .flex-items {
           list-style: none;
           display: inline-block;
           margin-right: 8em;
       }
       
       ul .flex-items a {
           color: white;
           text-decoration: none;
           font-weight: bold;
           font-size: 1.25rem;
       }
       
       ul .flex-items a:hover {
           color: #618985;
           transition: ease-in-out all .4s;
           -moz-transition: ease-in-out all .4s;
           -webkit-transition: ease-in-out all .4s;
       }
       /* BANNER SECTION */
       
       .hero-image {
           /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bg2.jpg");
           /* Set a specific height */
           height: 100vh;
           /* Position and center the image to scale nicely on all screens */
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           position: relative;
           box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
       }
       /* Place text in the middle of the image */
       
       .hero-text {
           font-size: 1.5rem;
           text-align: center;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           color: white;
       }
       /* ABOUT */
       
       #about {
           background-color: #70877f;
           width: 100%;
           padding: 25px 0px;
           color: #eaeaea;
           font-size: 1.25rem;
           height: 100vh;
           display: flex;
           justify-content: flex-start;
           /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("./images/about.jpg"); */
           background-size: cover;
           background-position: right center;
           box-shadow: rgba(131, 131, 243, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
       }
       
       .full-width-container {
           width: 75%;
           margin-left: 75px;
       }
       
       .boxed-p {
           background-color: #eaeaea;
           background-image: linear-gradient(315deg, #fff 0%, #eaeaea 25%);
           color: #080708;
           width: 50%;
           padding: 10px 30px;
           min-height: 300px;
           box-shadow: rgba(234, 234, 234, 0.4) -5px 5px, rgba(234, 234, 234, 0.3) -10px 10px, rgba(234, 234, 234, 0.2) -15px 15px, rgba(234, 234, 234, 0.1) -20px 20px, rgba(234, 234, 234, 0.05) -25px 25px;
       }
       
       #about h2 {
           margin-left: 30px;
       }
       
       #about .border {
           border-bottom: solid 2px red;
           width: 5%;
           margin-left: 30px;
       }
       /* PROJECTS */
       /* CONTACT */
       
       #contact {
           background-color: #1e2935;
           background-size: contain;
           padding: 10px 0px;
           height: 100vh;
       }
       
       .container {
           text-align: center;
           color: #E1E2E2;
           margin-top: 25px;
           width: 35%;
           margin-right: auto;
           margin-left: auto;
           background-color: white;
           margin-bottom: 25px;
           border-radius: 10px;
           box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
       }
       
       #contact h1 {
           font-size: 3em;
           margin-bottom: 15px;
           background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("./images/contact.jpg");
           background-size: cover;
           background-repeat: no-repeat;
           width: 100%;
           height: 100px;
           line-height: 100px;
           text-align: center;
           border-radius: 5px;
       }
       
       #contact form input,
       #contact form textarea {
           border-radius: 25px;
           margin-bottom: 1rem;
           width: 75%;
           padding: 10px 15px;
           display: block;
           margin-right: auto;
           margin-left: auto;
           margin-top: 25px;
       }
       
       #contact form button {
           margin-bottom: 25px;
           margin-right: auto;
           margin-left: auto;
       }